@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
.nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }

.title{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 30px;
}
.form{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 20px;
}

input[type=text], input[type=number]{
    border : 2px solid skyblue;
    border-radius : 5px;
    color:blue;
}

.contact{
    font-weight: bold;
}
