@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
.nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }

.h3{
    margin-top:2vh;
    border:1px solid white;

    font-size: 40px;
}
.calendar{
    background-color: cadetblue;
    margin-top: 0%;
    height:100vh;
}
.title{
    background-color: powderblue;
    height:25vh;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    z-index: 3;
}

.letter{
    padding-top: 6vh;
    vertical-align: middle;
    font-size: 70px;
    z-index: 2;
}

body{
    margin:0;
}

.nav-container{
    font-family: 'Nanum Gothic', sans-serif; 
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:0;
    padding 0;
    background-color: #5f83a0;
    list-style-type: none;
    text-align:right;
}

.nav-item, .nav-item-date{
    float:right;
    padding: 15px;
    cursor: pointer;
}

.nav-item a, .nav-item span, .nav-item-date, .nav-item button{
    text-align: center;
    text-decoration: none;
    color:white;
}
.nav-item a, .nav-item-date, .nav-item span{
    font-weight: lighter;
}

.timetable{
    display: flex;
    justify-content: space-around;
    align-content: flex-start; 
    z-index: 1;
}

.weekdate{
    margin-top: 7vh;
    font-family: "Nanum Gothic", sans-serif;
    text-align: right;
    height: 7vh;
}

.weekofday{
    justify-content: space-between;
    font-family: "Nanum Gothic", sans-serif;
    flex-direction: column;
    text-align: center;
    color:white;
}

.sunday{
    color:red;
}

.saturday{
    color:blue;
}
.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday{
    flex-grow:1;
}
.timeslotbutton{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size:17px;
    border: 1px solid;
    width:14.25vw;
    border-radius: 5%;
    color:white;
    align-items: center;
    overflow: auto;
}


.nine{
    flex-direction: row;
    position: absolute;
    top:40vh;
}

.ten{
    flex-direction: row;
    position: absolute;
    top:45vh;
}

.eleven{
    flex-direction: row;
    position: absolute;
    top:50vh;
}

.twelve{
    flex-direction: row;
    position: absolute;
    top:55vh;
}

.thirteen{
    flex-direction: row;
    position: absolute;
    top:60vh;
}

.fourteen{
    flex-direction: row;
    position: absolute;
    top:65vh;
}

.fifteen{
    flex-direction: row;
    position: absolute;
    top:70vh;
}

.sixteen{
    flex-direction: row;
    position: absolute;
    top:75vh;
}

.seventeen{
    flex-direction: row;
    position: absolute;
    top:80vh;
}

.eighteen{
    flex-direction: row;
    position: absolute;
    top:85vh;
}


.content{
    background-color: cadetblue;
    height: 100vh;
    flex-direction: row;
    padding-top:7vh;
    text-align: center;
}