@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
.nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }

.title{
    margin-top:7vh;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
}


.form{
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
}

.button{
    text-align: center;
}