{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/maker.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="title">
        제작자를 소개합니다
    </div>

    <div class="introduce">
        <div class="hhc">
            <div class="name">이름 : 함형찬</div>
            <img class="pic" src="{% static 'image/mutsa.png' %}">
            <div class="role">역할 : 백엔드</div>
            <div class="email">이메일 : </div>
        </div>

        <div class="pgd">
            <div class="name">이름 : 박규동</div>
            <img class="pic" src="{% static 'image/mutsa.png' %}">
            <div class="role">역할 : 백엔드</div>
            <div class="email">이메일 : kyudong0104@likelion.org</div>
        </div>

        <div class="lbh">
            <div class="name">이름 : 이병헌</div>
            <img class="pic" src="{% static 'image/mutsa.png' %}">
            <div class="role">역할 : 프론트엔드</div>
            <div class="email">이메일 : </div>
        </div>

        <div class="ljm">
            <div class="name">이름 : 이정목</div>
            <img class="pic" src="{% static 'image/mutsa.png' %}">
            <div class="role">역할 : 프론트엔드</div>
            <div class="email">이메일 : gracelee1020@likelion.org</div>
        </div>
    </div>
</body>
</html>