{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/time_detail.css' %}">
</head>
<body>
    <div class="table">
        {% for timeslot in timeslots %}
        <div class="slot">
            <div class="timeslot">
            {{timeslot.date}} <br>{{timeslot.starttime}} ~ {{timeslot.endtime}}
            <br>
            </div>
            {% if timeslot.isUsed == False %}
            <a href="{% url 'enrollment' timeslot.id %}">
                <div class="square">
                    실험 신청하기
                </div>
            </a>
            {% elif timeslot.isUsed == True %}
            <a href="{% url 'enrollment' timeslot.id %}">
                <div class="square_done">
                    이미 신청된 실험입니다.
                </div>
            </a>
            {%endif%}
        </div>
        {% endfor %}

        <a href="{% url 'content_admin' content_id %}">
            <button type="button" class="button">주최자 수정</button>
        </a>
    </div>
    
</body>
</html>