{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/time_revise.css' %}">
</head>
<body>
    <h3 class="title">실험 시간 수정</h3>
    <div class="info">{{timeslot.date}} {{timeslot.starttime}} ~ {{timeslot.endtime}}</div>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {{timetemp_form.as_p}}
        <input type="submit" value="OK">
        </form>
    </div>
</body>
</html>

