{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/usertemp.css' %}">
</head>
<body>
    <div class="title">{{timeslot.content.title}}</div>
    <div class="information">{{timeslot.date}}, {{timeslot.starttime}} ~ {{timeslot.endtime}}</div>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {{usertemp.as_p}}
        
            {{timeslot.content.title}} / {{timeslot.date}}  신청하겠습니다.
        <input type="submit" value="OK">
        </form>
    </div>
</body>
</html>
